# 忽略项目根目录下的 target 目录
/target/

# 允许 .mvn/wrapper/maven-wrapper.jar 文件
!.mvn/wrapper/maven-wrapper.jar

# 排除 src/main 和 src/test 目录下的 target 目录的忽略规则
# 但忽略所有 target 目录下的 yml 文件
!**/src/main/**/target/
!**/src/test/**/target/

# 忽略所有 target 目录中的 .yml 文件
**/target/**/*.yml

# 忽略 IDE 和工具生成的文件和目录
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*.md

/httpClient
